#!/usr/bin/make -f

LIBDIR=$(shell /usr/bin/ruby18 -rrbconfig -e 'puts Config::CONFIG["rubylibdir"]')
DESTDIR=$(CURDIR)/pkg/ips/proto

binary-install/oregano::
	/usr/bin/ruby18 install.rb --destdir=$(DESTDIR) --bindir=/usr/bin --sbindir=/usr/sbin --sitelibdir=$(LIBDIR) --mandir=/usr/share/man
	mkdir -p $(DESTDIR)/var/{lib,log}/oregano/
	mkdir -p $(DESTDIR)/var/svc/manifest/network/oregano/
	mkdir -p $(DESTDIR)/lib/svc/method/
	mkdir -p $(DESTDIR)/etc/oregano/
	svccfg validate ext/ips/oreganoagent.xml
	svccfg validate ext/ips/oreganomaster.xml
	cp ext/ips/oreganoagent.xml $(DESTDIR)/var/svc/manifest/network/oregano/
	cp ext/ips/oreganomaster.xml $(DESTDIR)/var/svc/manifest/network/oregano/
	cp ext/ips/oregano-agent $(DESTDIR)/lib/svc/method/
	cp ext/ips/oregano-master $(DESTDIR)/lib/svc/method/
	cp ext/ips/oregano.conf $(DESTDIR)/etc/oregano/oregano.conf
	chmod 700  $(DESTDIR)/lib/svc/method/oregano-{agent,master}
