Adrien Thebo <adrien@oreganolabs.com> Adrien Thebo <adrien.thebo@gmail.com>
Adrien Thebo <adrien@oreganolabs.com> adrienthebo <adrien@oreganolabs.com>
Allen Ballman <aballman@gmail.com> ballman <ballman@980ebf18-57e1-0310-9a29-db15c13687c0>
Andrew Shafer <andrew@oreganolabs.com> Andrew Shafer <andrew@luke-kaniess-macbook-pro-15.local>
Andrew Shafer <andrew@oreganolabs.com> Andrew Shafer <andrew@reductivelabs.com>
Andrew Shafer <andrew@oreganolabs.com> shafer <shafer@980ebf18-57e1-0310-9a29-db15c13687c0>
Anselm Strauss <amsibamsi@gmail.com> Anselm Strauss <anselm@beastie.ttyv0.net>
Anselm Strauss <amsibamsi@gmail.com> Anselm Strauss <anselm@silversurfer.l.ttyv0.net>
Ben Hengst <notbenh@cpan.org> ben hengst <notbenh@cpan.org>
Ben Hughes <ben@oreganolabs.com> Ben H <git@mumble.org.uk>
Ben Hughes <ben@oreganolabs.com> Ben Hughes <git@mumble.org.uk>
Blake Barnett <blake@soulmachine.net> shadoi <shadoi@980ebf18-57e1-0310-9a29-db15c13687c0>
Brice Figureau <brice-oregano@daysofwonder.com> Brice Figureau <brice@daysofwonder.com>
Bryan Kearney <bkearney@redhat.com> Bryan Kearney <bkearney@localhost.localdomain>
Cameron Thomas <cameron@oreganolabs.com> Cameron Thomas <cs.thomas.dev@gmail.com>
Carl Caum <carl@oreganolabs.com> Carl Caum <carl@carlcaum.com>
Chris Price <chris@oreganolabs.com> Chris Price <cprice@explosivo.(none)>
Chris Price <chris@oreganolabs.com> cprice
Christian Hofstaedtler <hofstaedtler@inqnet.at> Christian Hofstaedtler <ch+git@zeha.at>
Dan Bode <dan@oreganolabs.com> Dan Bode <bodepd@gmail.com>
Dan Bode <dan@oreganolabs.com> Dan Bode <dan@bodepd.com>
Dan Bode <dan@oreganolabs.com> Dan Bode <dan@reductivelabs.com>
Daniel Pittman <daniel@oreganolabs.com> Daniel Pittman <daniel@rimspace.net>
David Lutterkort <lutter@redhat.com> David Lutterkort <dlutter@redhat.com>
David Lutterkort <lutter@redhat.com> lutter <lutter@1f5c1d6a-bddf-0310-8f58-fc49e503516a>
David Lutterkort <lutter@redhat.com> lutter <lutter@980ebf18-57e1-0310-9a29-db15c13687c0>
David Schmitt <david@dasz.at> David Schmitt <david@schmitt.edv-bus.at>
Deepak Giridharagopal <deepak@oreganolabs.com> Deepak Giridharagopal <deepak@brownman.org>
Dominic Maraglia <dominic@oreganolabs.com> <dmaraglia@gmail.com>
Donavan Miller <donavan@desinc.net> donavan <donavan@desinc.net>
Eric Sorenson <eric.sorenson@oreganolabs.com> Eric Sorenson <ahpook@gmail.com>
Eric Sorenson <eric.sorenson@oreganolabs.com> Eric Sorenson <eric@explosive.net>
Eric Sorenson <eric.sorenson@oreganolabs.com> Eric Sorenson <eric@leterel.apple.com>
Francois Deppierraz <francois@ctrlaltdel.ch> Francois Deppierraz <francois@slayer.ctrlaltdel.ch>
Garrett Honeycutt <garrett@oreganolabs.com> Garrett Honeycutt <oregano-dev@garretthoneycutt.com>
Gary Larizza <gary@oreganolabs.com> Gary Larizza <ccshots@gmail.com>
Greg Sutcliffe <greg.sutcliffe@gmail.com> Greg Sutcliffe <gsutcliffe@gmail.com>
James Turnbull <james@oreganolabs.com> James Turnbull <james@lovedthanlost.net>
James Turnbull <james@oreganolabs.com> James Turnbull <james@rhizome-lovedthanlost-net.local>
James Turnbull <james@oreganolabs.com> James Turnbull <james@ubuntu904.lovedthanlost.net>
James Turnbull <james@oreganolabs.com> root <root@absinthe.lovedthanlost.net>
Jeff McCune <jeff@oreganolabs.com> <jeff.mccune@northstarlabs.net>
Jeff McCune <jeff@oreganolabs.com> Jeffrey J McCune <jeff@northstarlabs.net>
Jeff McCune <jeff@oreganolabs.com> Jeffrey McCune <mccune.jeff@gmail.com>
Jeff McCune <jeff@oreganolabs.com> mccune <mccune@1f5c1d6a-bddf-0310-8f58-fc49e503516a>
Jeff McCune <jeff@oreganolabs.com> mccune <mccune@980ebf18-57e1-0310-9a29-db15c13687c0>
Jeff Weiss <jeff.weiss@oreganolabs.com> Jeff Weiss <jeff.a.weiss@gmail.com>
Jesse Wolfe <jesse@oreganolabs.com> Jesse Wolfe <jes5199@gmail.com>
Jos Boumans <jos@dwim.org> josb <josb@980ebf18-57e1-0310-9a29-db15c13687c0>
Josh Cooper <josh@oreganolabs.com> Josh Cooper <josh+github@oreganolabs.com>
Josh Cooper <josh@oreganolabs.com> joshcooper <josh+github@oreganolabs.com>
Joshua Harlan Lifton <lifton@oreganolabs.com> lifton <lifton@oreganolabs.com>
Justin Stoller <justin@oreganolabs.com> Justin Stoller <justin.stoller@gmail.com>
Kelsey Hightower <kelsey@oreganolabs.com> Kelsey Hightower <kelsey.hightower@gmail.com>
Kelsey Hightower <kelsey@oreganolabs.com> Kelsey Hightower <kelsey.hightower@oreganolabs.com>
Ken Barber <ken@oreganolabs.com> Ken Barber <ken@bob.sh>
Luke Kanies <luke@oreganolabs.com> <luke@980ebf18-57e1-0310-9a29-db15c13687c0>
Luke Kanies <luke@oreganolabs.com> Luke Kaines <luke@oreganolabs.com>
Luke Kanies <luke@oreganolabs.com> Luke Kanies <luke@madstop.com>
Luke Kanies <luke@oreganolabs.com> Luke Kanies <luke@reductivelabs.com>
Luke Kanies <luke@oreganolabs.com> luke <luke@1f5c1d6a-bddf-0310-8f58-fc49e503516a>
Markus Roberts <markus@oreganolabs.com> Markus Roberts <Markus@reality.com>
Markus Roberts <markus@oreganolabs.com> Markus Roberts <markus@phage.local>
Markus Roberts <markus@oreganolabs.com> markus <markus@AVA-351181.(none)>
Martin Englund <martin@englund.nu> Martin Englund <martin.englund@sun.com>
Matt Palmer <mpalmer@hezmatt.org> mpalmer <mpalmer@980ebf18-57e1-0310-9a29-db15c13687c0>
Matt Robinson <matt@oreganolabs.com> Matt Robinson <mattr@mattrobinson.net>
Matthaus Owens <matthaus@oreganolabs.com> Matthaus Litteken <matthaus@oreganolabs.com>
Matthaus Owens <matthaus@oreganolabs.com> Matthaus Litteken <mlitteken@gmail.com>
Matthaus Owens <matthaus@oreganolabs.com> Matthaus Owens <mlitteken@gmail.com>
Michael Stahnke <stahnma@oreganolabs.com> stahnma <stahnma@websages.com>
Moses Mendoza <moses@oreganolabs.com> MosesMendoza <mendoza.moses@gmail.com>
Nan Liu <nan@oreganolabs.com> Nan Liu <nan.liu@gmail.com>
Nick Fagerlund <nick.fagerlund@oreganolabs.com> nfagerlund <nick.fagerlund@gmail.com>
Nick Fagerlund <nick.fagerlund@oreganolabs.com> nfagerlund <nick.fagerlund@oreganolabs.com>
Nigel Kersten <nigel@oreganolabs.com> Nigel Kersten <nigel@explanatorygap.net>
Nigel Kersten <nigel@oreganolabs.com> Nigel Kersten <nigelk@google.com>
Ohad Levy <ohadlevy@gmail.com> Ohad Levy <ohad.levy@infineon.com>
Patrick Carlisle <patrick@oreganolabs.com> Patrick <patrick@oreganolabs.com>
Patrick Carlisle <patrick@oreganolabs.com> pcarlisle <patrick@oreganolabs.com>
Paul Lathrop <plathrop@digg.com> Paul Lathrop <paul@tertiusfamily.net>
Paul Lathrop <plathrop@digg.com> Paul Lathrop <plathrop@debian.tertiusfamily.net>
Peter Meier <peter.meier@immerda.ch> duritong <peter.meier@immerda.ch>
Peter Meier <peter.meier@immerda.ch> mh <duritong@cronopios.org>
Peter Mørch <peter@morch.com> peter <peter@morch.com>
Pieter van de Bruggen <pieter@oreganolabs.com> Pieter van de Bruggen <pvande@gmail.com>
Rahul Gopinath <rahul@oreganolabs.com> rahul <rahul@pe-solaris11-vm.(none)>
Rahul Gopinath <rahul@oreganolabs.com> rahul <rahul@oreganolabs.com>
Rahul Gopinath <rahul@oreganolabs.com> rahul <rahul@solaris11-master.(none)>
Rahul Gopinath <rahul@oreganolabs.com> vrthra <9@vrtra.net>
Rein Henrichs <rein@oreganolabs.com> Rein Henrichs <reinh@reinh.com>
Rudy Gevaert <rudy@webworm.org> rgevaert <rudy+github@webworm.org>
Rudy Gevaert <rudy@webworm.org> rgevaert <rudy.gevaert+github@ugent.be>
Russ Allbery <rra@stanford.edu> Russ Allbery <rra@debian.org>
Sean E. Millichamp <sean@bruenor.org> Sean Millichamp <sean.millichamp@secure-24.com>
Sean E. Millichamp <sean@bruenor.org> Sean Millichamp <sean@bruenor.org>
Steve McIintosh <stevemac@endpoint.com> steve mcintosh <stevemac@endpoint.com>
Thom May <thom@joost.com> Thom May <thom@clearairturbulence.org>
Thom May <thom@joost.com> Thom May <thom@virelais.nyc.joostas.com>
