Source: oregano
Section: admin
Priority: optional
Maintainer: Oregano Labs <info@oreganolabs.com>
Uploaders: Micah Anderson <micah@debian.org>, Andrew Pollock <apollock@debian.org>, Nigel Kersten <nigel@explanatorygap.net>, Stig Sandbeck Mathisen <ssm@debian.org>
Build-Depends-Indep: ruby | ruby-interpreter, libopenssl-ruby | libopenssl-ruby1.9.1 | libruby (>= 1:1.9.3.4), facter (>= 1.7.0), hiera (>= 2.0.0)
Build-Depends: debhelper (>= 7.0.0), openssl
Standards-Version: 3.9.1
Vcs-Git: git://github.com/oreganolabs/oregano
Homepage: https://oreganolabs.com/oregano/oregano-open-source

Package: oregano-common
Architecture: all
Depends: ${misc:Depends}, ruby | ruby-interpreter, libopenssl-ruby | libopenssl-ruby1.9.1 | libruby (>= 1:1.9.3.4), ruby-shadow | libshadow-ruby1.8, libaugeas-ruby | libaugeas-ruby1.9.1 | libaugeas-ruby1.8, lsb-base, sysv-rc (>= 2.86) | file-rc, hiera (>= 2.0.0), facter (>= 1.7.0), libjson-ruby | ruby-json
Recommends: lsb-release, debconf-utils
Suggests: ruby-selinux | libselinux-ruby1.8
Breaks: oregano (<< 2.6.0~rc2-1), oreganomaster (<< 0.25.4-1)
Provides: hiera-oregano
Conflicts: hiera-oregano, oregano (<< 3.3.0-1oreganolabs1)
Replaces: hiera-oregano
Description: Centralized configuration management
 Oregano lets you centrally manage every important aspect of your system
 using a cross-platform specification language that manages all the
 separate elements normally aggregated in different files, like users,
 cron jobs, and hosts, along with obviously discrete elements like
 packages, services, and files.
 .
 Oregano's simple declarative specification language provides powerful
 classing abilities for drawing out the similarities between hosts while
 allowing them to be as specific as necessary, and it handles dependency
 and prerequisite relationships between objects clearly and explicitly.
 .
 This package contains the oregano software and documentation.  For the startup
 scripts needed to run the oregano agent and master, see the "oregano" and
 "oreganomaster" packages, respectively.

Package: oregano
Architecture: all
Depends: ${misc:Depends},  oregano-common (= ${binary:Version}), ruby | ruby-interpreter
Recommends: rdoc
Suggests: oregano-el, vim-oregano
Conflicts: oregano-common (<< 3.3.0-1oreganolabs1)
Description: Centralized configuration management - agent startup and compatibility scripts
 This package contains the startup script and compatbility scripts for the
 oregano agent, which is the process responsible for configuring the local node.
 .
 Oregano lets you centrally manage every important aspect of your system
 using a cross-platform specification language that manages all the
 separate elements normally aggregated in different files, like users,
 cron jobs, and hosts, along with obviously discrete elements like
 packages, services, and files.
 .
 Oregano's simple declarative specification language provides powerful
 classing abilities for drawing out the similarities between hosts while
 allowing them to be as specific as necessary, and it handles dependency
 and prerequisite relationships between objects clearly and explicitly.

Package: oreganomaster-common
Architecture: all
Depends: ${misc:Depends}, ruby | ruby-interpreter, oregano-common (= ${binary:Version}), facter (>= 1.7.0), lsb-base
Breaks: oregano (<< 0.24.7-1), oreganomaster (<< 2.6.1~rc2-1)
Replaces: oreganomaster (<< 2.6.1~rc2-1)
Conflicts: oregano-common (<< 3.3.0-1oreganolabs1)
Suggests: apache2 | nginx, oregano-el, vim-oregano,
 rdoc, ruby-ldap | libldap-ruby1.8, oreganodb-terminus
Description: Oregano master common scripts
 This package contains common scripts for the oregano master,
 which is the server hosting manifests and files for the oregano nodes.
 .
 Oregano lets you centrally manage every important aspect of your system
 using a cross-platform specification language that manages all the
 separate elements normally aggregated in different files, like users,
 cron jobs, and hosts, along with obviously discrete elements like
 packages, services, and files.
 .
 Oregano's simple declarative specification language provides powerful
 classing abilities for drawing out the similarities between hosts while
 allowing them to be as specific as necessary, and it handles dependency
 and prerequisite relationships between objects clearly and explicitly.

Package: oreganomaster
Architecture: all
Depends: ${misc:Depends}, ruby | ruby-interpreter, oreganomaster-common (= ${source:Version}), facter (>= 1.7.0), lsb-base
Breaks: oregano (<< 0.24.7-1)
Conflicts: oregano (<< 3.3.0-1oreganolabs1)
Suggests: apache2 | nginx, oregano-el, vim-oregano,
 rdoc, ruby-ldap | libldap-ruby1.8, oreganodb-terminus
Description: Centralized configuration management - master startup and compatibility scripts
 This package contains the startup and compatibility scripts for the oregano
 master, which is the server hosting manifests and files for the oregano nodes.
 .
 Oregano lets you centrally manage every important aspect of your system
 using a cross-platform specification language that manages all the
 separate elements normally aggregated in different files, like users,
 cron jobs, and hosts, along with obviously discrete elements like
 packages, services, and files.
 .
 Oregano's simple declarative specification language provides powerful
 classing abilities for drawing out the similarities between hosts while
 allowing them to be as specific as necessary, and it handles dependency
 and prerequisite relationships between objects clearly and explicitly.

Package: oreganomaster-passenger
Architecture: all
Depends: ${misc:Depends}, ruby | ruby-interpreter, oreganomaster-common (= ${source:Version}), facter (>= 1.7.0), lsb-base, apache2, libapache2-mod-passenger
Conflicts: oreganomaster (<< 2.6.1~rc2-1)
Replaces: oreganomaster (<< 2.6.1~rc2-1)
Description: Centralised configuration management - master setup to run under mod passenger
 This package provides a oreganomaster running under mod passenger.
 This configuration offers better performance and scalability.
 .
 Oregano lets you centrally manage every important aspect of your system
 using a cross-platform specification language that manages all the
 separate elements normally aggregated in different files, like users,
 cron jobs, and hosts, along with obviously discrete elements like
 packages, services, and files.
 .
 Oregano's simple declarative specification language provides powerful
 classing abilities for drawing out the similarities between hosts while
 allowing them to be as specific as necessary, and it handles dependency
 and prerequisite relationships between objects clearly and explicitly.
 .

Package: vim-oregano
Architecture: all
Depends: ${misc:Depends}, oregano (= ${source:Version})
Recommends: vim-addon-manager
Description: syntax highlighting for oregano manifests in vim
 The vim-oregano package provides filetype detection and syntax highlighting for
 oregano manifests (files ending with ".pp").

Package: oregano-el
Architecture: all
Depends: ${misc:Depends}, emacsen-common, oregano (= ${source:Version})
Description: syntax highlighting for oregano manifests in emacs
 The oregano-el package provides syntax highlighting for oregano manifests

Package: oregano-testsuite
Architecture: all
Depends: ${misc:Depends}, ruby | ruby-interpreter, oregano-common (= ${source:Version}), facter (>= 1.7.0), lsb-base, rdoc, ruby-ldap | libldap-ruby1.8, ruby-rspec | librspec-ruby, git-core, ruby-mocha | libmocha-ruby1.8
Recommends: cron
Description: Centralized configuration management - test suite
 This package provides all the tests from the upstream oregano source code.
 The tests are used for improving the QA of the oregano package.
